/* en vrac :

display flex none 
 width width
*/ 
* {
    box-sizing: border-box;
    /* change le box model */
  }

    img {
      /* image responsive, largeur maxi */
      max-width: 100%;
      /* hauteur "auto" */
      height: auto;
    }
    .carrousel_parent-ecrans {
      /* aligne horizontalement les enfants */
      display: flex;

      /* largeur du parent */
      width: 100%;

    }
    .carrousel_ecran {
      /* largeur du parent pour chaque enfant */
      width: auto;
      /* permet de garder toute la largeur du parent */
      width: 100%;

    }
    .carrousel_ecran figure {
      /* enlève les marges par défaut */
      margin: 0;
    }